html {
	font-family: "Arial";
	font-size: 16;
}


/* Intro rules */
.well-important {
    background-color: #FFFCBA;
        border-color: #9c973e;
}

.announcements {

}

/* This part comes from the Stanford CS107 page. */ 
/* Announcements pane on landing page */
.announcements {
  background-color: white;
  border: none;
  padding: 1em;
}

.announcements .list-group-item {
  background-color: transparent;
}

.announcements .list-group-item p:first-child::first-line {
  font-family: Arial; /* hack to work around Safari display issue */
  font-weight: bold;
}

span.post {
  display: block;
  font-size: .7em;
  font-style: italic;
  margin-bottom: 3px;
}

/* End Intro rules */


/* Whatsapp contact info. */
.whatsappinfo {
	text-decoration: none;
	color: #1ebea5;
}
/* End Whatsapp contact info. */


/* Rules for Lists */
/* This is for the syllabus links */
li>a {
	text-decoration:none;
}

li>a:hover {
	color: red;
}

/* Grey color for links without syllabus yet. */
li.missingLink {
	color: #A8A8A8;
}
/* End rules for lists */


/* Rules for span */
/* Special spans for any contact info. */
span.contact_info {
	font-family: monospace;
}

span.last_updated {
	font-size: small;
	text-transform: uppercase;
	background-color: #fffdd4;
}










