html {
	font-family: "Arial";
	font-size: 16;
}


/* Rules for Lists */
/* This is for the syllabus links */
li>a {
	text-decoration:none;
}

li>a:hover {
	color: red;
}

/* Grey color for links without syllabus yet. */
li.missingLink {
	color: #A8A8A8;
}
/* End rules for lists */


/* Rules for span */
/* Special spans for any contact info. */
span.contact_info {
	font-family: monospace;
}











